.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 800px) {
    .container {
      flex-direction: column;
    }
  }

.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }