.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 800px) {
    .container {
      flex-direction: column;
    }
  }

.example-card {
    max-width: 300px;
    margin: 10px;
  }

  .card-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}
  
  /* .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  } */